.post {
  width: 40vw;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff; /* White background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #333; /* Text color */
}

.post-header {
  display: flex;
  align-items: center;
}

.post-album-art {
  width: 100%;
  border-radius: 25px;
}

.post-user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 5px;
}

.post-user-name {
  font-size: 16px;
  color: #333; /* Text color */
}

.post-song-details {
  display: flex;
  justify-content: space-between;
}
